body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url(https://securepics.ebaystatic.com/aw/pics/cmp/ds3/imgbg.jpg) repeat 0 0 #f8f8f8;
}

.padding-body{
    padding: 30px;
}

.login-register{
    margin-top: 60px;
}

.navbar-default {
    min-height:32px;
    height: 32px;
    background: #ffffff;
    box-shadow: 5px 5px 5px #999;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px;
    font-size: 12px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

ul.dropdown-menu > li > a, ul.dropdown-menu > li {
    font-size: 12px;
}

.glyphicon-bell, .glyphicon-shopping-cart{
    font-size: 14px;
    color: #000000;
}

.tab-pane {
    padding : 30px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    background: #ffffff;
}

.login-tab{
    width: 49%;
    float: left;
}
.register-tab{
    width: 49%;
    float: right;
}
.nav-tabs {
    border-style: none none solid solid;
    border-radius: 0 3px 3px 0;
    background: #eee;
    border: 1px solid;
    border-color: #d6d6d6;
}

.nav > li > a {
    color: #555!important;
    font-size: 18px;
    vertical-align: middle;
}

.nav > li.active > a {
    color: #0654ba!important;
}

.glyphicon-circle-arrow-right, .glyphicon-plus-sign{
    color: #d6d6d6!important;
    font-size: 25px;
}

.tab-content, .forgot-password{
    color: #0654ba!important;
}

.error-msg span, .error-msg {
    font-size: 14px;
    color: #ff2a00!important;
    margin-bottom: 8px;
}

.jumbotron {
    margin-top: 50px;
    background: url(http://p.ebaystatic.com/aw/sell/lnd/hero_7plus_new@2x.jpg) no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF; // change text color
}

.form-item-details .input-label{
    /* text-align:right; */
    text-align:left;
}

.form-item-details .input-label:before{
    /* text-align:right; */
    color: red;
    content: "*";
    position: absolute;
    margin-left: -10px;
}

.numberCircle {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    padding: 3px;

    background: #ff2a00;
    border: 1px solid #666;
    color: #FFFFFF;
    text-align: center;

    font: 10px Arial, sans-serif;

    margin-left: 1px;
}
